<!DOCTYPE html>
<html ng-app="angular">
    <head>
        <title>Angular</title>
        <style>
            #characters {
                color: blue;
                font-family: monospace;
                border: dotted purple 5px;
                padding: 5px;
                margin: 5px;
                width: auto;
                text-align: center;
            }
        </style>
    </head>
    <body ng-controller="AppController">
        <h2>{{name}}'s page loaded at {{datetime}}</h2>
        <div id="characters">
            <div ng-repeat='char in chars'>
                <span>{{char.name}} has a ton of {{char.item}}</span>
            </div>
        </div>
        <input placeholder="Enter your name" ng-model="name"/>
        <form>
            Purchase price: <input ng-model="sale.price" ng-change="salesTax()">
            Sales Tax: {{sale.tax}}
        </form>
        
        <!-------------------------------Scripts------------------------------------>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script>
            // Define the AngularJS module and the controller
            angular.module('angular', [])
                .controller('AppController', function($scope) {
                    $scope.datetime = new Date().toLocaleTimeString();
                    let chars = [{name: 'Charles', item: "Cheese"}, 
                                 {name: 'Vinnie', item: 'Cruise Missiles'},
                                 {name: 'Joshua', item: 'Games'}];
                    $scope.chars = chars;
                    $scope.name = 'User';
                    $scope.sale = {price: 0};
                    $scope.salesTax = function() {
                        $scope.sale.tax = $scope.sale.price * 1.06;
                    }
                });
        </script>
    </body>
</html>
